.diceBlock {
	text-align: center;
}
.dicesImamge {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	margin-top: 4vw;
	
}
.holdButton,
.diceButton {
    width: 120px;
	height: 120px;
	font-size: 30px;
	color: white;
	background-color: rgb(218, 71, 101);
	border: none;
	border-radius: 10px;
}
#dice1,
#dice2 {
	width: 100px;
	height: 100px;
	border: 1px solid rgb(247, 181, 176);
	border-radius: 5px;
	transition: all 0.2s ease;
	margin-bottom: 4vh;
}
.number1 {
	background: url("Images/dice-1.png") no-repeat center center/cover;
}
.number2 {
	background: url("Images/dice-2.png") no-repeat center center/cover;
}
.number3 {
	background: url("Images/dice-3.png") no-repeat center center/cover;
}
.number4 {
	background: url("Images/dice-4.png") no-repeat center center/cover;
}
.number5 {
	background: url("Images/dice-5.png") no-repeat center center/cover;
}
.number6 {
	background: url("Images/dice-6.png") no-repeat center center/cover;
}
